* {
  font-family: "Roboto", serif;
}

.srch {
  height: 35px;
  width: 700px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 20px;

}
.input{
  all: unset;
  width: 450px;
  height: 35px;
  border-radius: 20px;
  padding-left: 5px;
  margin-left: 5px;
  background-color: rgba(217, 217, 217, 1);

}
.bg-cardbg{
  width: 335px;
  height: 210px;
  /* margin-top: -100px; */
}
.ourStore{
  margin-bottom: -50px;
}
.strName{
  margin-left: -200px;
}
.place{
  margin-left: -303px;
}
.headingAddMed{
  margin-left: -279px;
}


.custom-modal {
  max-width: 420px; /* Set desired width */
  margin: auto; /* Center the modal horizontally */
}
.cardBlog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically if needed */
}
.addMedInput{
  all: unset;
  width: 350px;
  height: 38px;
  border-radius:8px ;
  padding-left: 7px;
  background-color: rgba(208, 105, 105, 1) ;
}
.medAddbtn{
  width: 300px;
  height: 33px;
}

@media (max-width: 538px) {
   .input{
    width: 300px;
   }
   .addMedInput{
    width: 250px;
   }
   .strName{
    margin-left: -100px;
   }
   .place{
    margin-left: -203px;
  }
  .headingAddMed{
    margin-left: -179px;
  }
  .medAddbtn{
    width: 250px;
    height: 30px;
  }
}

@media (min-width: 768px) {
  .cardBlog {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; /* Keeps items centered */
  }
}

@media (min-width: 1024px) {
  .cardBlog {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; /* Keeps items centered */
  }
}
